@model IEnumerable<BusinessLayer.Models.Owner>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Identity

<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Html.DisplayNameFor(model => model.Firstname)"></label>
            </th>
            <th>
                <label asp-for="@Html.DisplayNameFor(model => model.LastName)"></label>
            </th>
            <th>
                <label asp-for="@Html.DisplayNameFor(model => model.MiddleName)"></label>
            </th>
            <th>
                <label asp-for="@Html.DisplayNameFor(model => model.PhoneNum)"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td asp-display-for="@item.Firstname"></td>
            <td asp-display-for="@item.LastName"></td>
            <td asp-display-for="@item.MiddleName"></td>
            <td asp-display-for="@item.PhoneNum"></td>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create</a>
</p>