@model BusinessLayer.Models.CarTechnicalCondition

<h3>Are you sure?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Date"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Date
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Milleage"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Milleage
        </dd>
        <dt class="col-sm-2">
            <label asp-for="BreakSystem"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.BreakSystem
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Suspension"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Suspension
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Wheels"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Wheels
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Lighting"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Lighting
        </dd>
        <dt class="col-sm-2">
            <label asp-for="CarbonDioxideContent"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.CarbonDioxideContent
        </dd>
        <dt class="col-sm-2">
            <label asp-forr="InspectorId"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.InspectorId
        </dd>
        <dt class="col-sm-2">
            <label asp-for="CarId"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.CarId
        </dd>
        <dt class="col-sm-2">
            <label asp-for="InspectionMark"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.InspectionMark
        </dd>
    </dl>

    <form asp-action="DeleteById">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>