@model IEnumerable<BusinessLayer.Models.CarTechnicalCondition>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Identity

<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Html.DisplayNameFor(model => model.Date)"></label>
            </th>
            <th>
                <label asp-for="@Html.DisplayNameFor(model => model.Milleage)"></label>
            </th>
            <th>
                <label asp-for="@Html.DisplayNameFor(model => model.BreakSystem)"></label>
            </th>
            <th>
                <label asp-for="@Html.DisplayNameFor(model => model.Suspension)"></label>
            </th>
            <th>
                <label asp-for="@Html.DisplayNameFor(model => model.Wheels)"></label>
            </th>
            <th>
                <label asp-for="@Html.DisplayNameFor(model => model.Lighting)"></label>
            </th>
            <th>
                <label asp-for="@Html.DisplayNameFor(model => model.CarbonDioxideContent)"></label>
            </th>
            <th>
                <label asp-for="@Html.DisplayNameFor(model => model.InspectorId)"></label>
            </th>
            <th>
                <label asp-for="@Html.DisplayNameFor(model => model.CarId)"></label>
            </th>
            <th>
                <label asp-for="@Html.DisplayNameFor(model => model.InspectionMark)"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td asp-display-for="@item.Date"></td>
            <td asp-display-for="@item.Milleage"></td>
            <td asp-display-for="@item.BreakSystem"></td>
            <td asp-display-for="@item.Suspension"></td>
            <td asp-display-for="@item.Wheels"></td>
            <td asp-display-for="@item.Lighting"></td>
            <td asp-display-for="@item.CarbonDioxideContent"></td>
            <td asp-display-for="@item.InspectorId"></td>
            <td asp-display-for="@item.CarId"></td>
            <td asp-display-for="@item.InspectionMark"></td>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create</a>
</p>