@model BusinessLayer.Models.OrderDTO

<h3>Are you sure?</h3>
<div>
    <hr />
    <img class="" src="https://i.pinimg.com/564x/b7/b8/58/b7b85879316062886c12f5a368b0a085.jpg" style="float:right; opacity:0.5" />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Date">Date</label>
        </dt>
        <dd class="col-sm-10">
            @Model.Date
        </dd>
        <dt class="col-sm-2">
            <label asp-for="ServiceName">Service</label>
        </dt>
        <dd class="col-sm-10">
            @Model.ServiceName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Price">Price</label>
        </dt>
        <dd class="col-sm-10">
            @Model.Price
        </dd>
        <dt class="col-sm-2">
            <label asp-for="CarId">Car id</label>
        </dt>
        <dd class="col-sm-10">
            @Model.CarId
        </dd>
        <dt class="col-sm-2">
            <label asp-for="OwnerId">Owner id</label>
        </dt>
        <dd class="col-sm-10">
            @Model.OwnerId
        </dd>
        <dt class="col-sm-2">
            <label asp-for="InspectorId">Inspector id</label>
        </dt>
        <dd class="col-sm-10">
            @Model.InspectorId
        </dd>
        <dt class="col-sm-2">
            <label asp-for="IsCompleted">Completed</label>
        </dt>
        <dd class="col-sm-10">
            @Model.IsCompleted
        </dd>
    </dl>

    <form asp-action="DeleteById">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back</a>
    </form>
</div>