@model IEnumerable<BusinessLayer.Models.OrderDTO>
@inject SignInManager<DataLayer.Models.Employee> SignInManager
@inject UserManager<DataLayer.Models.Employee> UserManager
@using Microsoft.AspNetCore.Identity

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Service
            </th>
            <th>
                Price
            </th>
            <th>
                Car id
            </th>
            <th>
                Owner id
            </th>
            <th>
                Inspector id
            </th>
            <th>
                Completed
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.Date)</td>
                <td> @Html.DisplayFor(modelItem => item.ServiceName)</td>
                <td> @Html.DisplayFor(modelItem => item.Price)</td>
                <td> @Html.DisplayFor(modelItem => item.CarId)</td>
                <td> @Html.DisplayFor(modelItem => item.OwnerId)</td>
                <td> @Html.DisplayFor(modelItem => item.InspectorId)</td>
                <td> @Html.DisplayFor(modelItem => item.IsCompleted)</td>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create</a> | <a asp-action="Completed">Show completed</a>
</p>
<center>
    <img class="" src="https://i.pinimg.com/564x/b7/b8/58/b7b85879316062886c12f5a368b0a085.jpg" style="opacity:0.5" />
</center>