@model IEnumerable<BusinessLayer.Models.OrderDTO>
@inject SignInManager<DataLayer.Models.Employee> SignInManager
@inject UserManager<DataLayer.Models.Employee> UserManager
@using Microsoft.AspNetCore.Identity

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Date
            </th>
            <th>
                Service
            </th>
            <th>
                Price
            </th>
            <th>
                Car id
            </th>
            <th>
                Owner id
            </th>
            <th>
                Inspector id
            </th>
            <th>
                Order state
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.Id)</td>
                <td> @Html.DisplayFor(modelItem => item.Date)</td>
                <td> @Html.DisplayFor(modelItem => item.ServiceName)</td>
                <td> @Html.DisplayFor(modelItem => item.Price)</td>
                <td> @Html.DisplayFor(modelItem => item.CarId)</td>
                <td> @Html.DisplayFor(modelItem => item.OwnerId)</td>
                <td> @Html.DisplayFor(modelItem => item.InspectorId)</td>
                <td> @Html.DisplayFor(modelItem => item.IsCompleted)</td>
                <td>
                    <a class="list-group-item list-group-item-action list-group-item-secondary" asp-action="Executing" asp-route-id="@item.Id">Change state</a>
                </td>
                <td>
                    <a class="list-group-item list-group-item-action list-group-item-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
                    {
                        <a class="list-group-item list-group-item-action list-group-item-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
                <td>
                    <a class="list-group-item list-group-item-action list-group-item-info" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>
                <a class="list-group-item list-group-item-action list-group-item-success" asp-action="Create">Create</a>
            </td>
            <td>
                <a class="list-group-item list-group-item-action list-group-item-primary" asp-action="Completed">Show completed</a>
            </td>
        </tr>
    </tfoot>
</table>

<center>
    <img class="" src="https://i.pinimg.com/564x/b7/b8/58/b7b85879316062886c12f5a368b0a085.jpg" style="opacity:0.5" />
</center>