@model BusinessLayer.Models.CarDTO

<div>
    <hr />
    <img class="" src="https://i.pinimg.com/564x/b7/b8/58/b7b85879316062886c12f5a368b0a085.jpg" style="float:right; opacity:0.5" />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="CarNumber">Car number</label>
        </dt>
        <dd class="col-sm-10">
            @Model.CarNumber
        </dd>
        <dt class="col-sm-2">
            <label asp-for="CarModel">Car model</label>
        </dt>
        <dd class="col-sm-10">
            @Model.CarModel
        </dd>
        <dt class="col-sm-2">
            <label asp-for="EngineCapacity">Engine capacity</label>
        </dt>
        <dd class="col-sm-10">
            @Model.EngineCapacity
        </dd>
        <dt class="col-sm-2">
            <label asp-for="BodyNumber">Body number</label>
        </dt>
        <dd class="col-sm-10">
            @Model.BodyNumber
        </dd>
        <dt class="col-sm-2">
            <label asp-for="YearOfProduction">Year of production</label>
        </dt>
        <dd class="col-sm-10">
            @Model.YearOfProduction
        </dd>
    </dl>
    <a asp-action="Index">Back</a>
</div>
