@model IEnumerable<BusinessLayer.Models.CarDTO>
@inject SignInManager<DataLayer.Models.Employee> SignInManager
@inject UserManager<DataLayer.Models.Employee> UserManager
@using Microsoft.AspNetCore.Identity

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BodyNubmer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfProduction)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.CarNumber)</td>
                <td> @Html.DisplayFor(modelItem => item.CarModel)</td>
                <td> @Html.DisplayFor(modelItem => item.EngineCapacity)</td>
                <td> @Html.DisplayFor(modelItem => item.BodyNubmer)</td>
                <td> @Html.DisplayFor(modelItem => item.YearOfProduction)</td>

                @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create</a>
</p>
