@model IEnumerable<BusinessLayer.Models.OwnerDTO>
@inject SignInManager<DataLayer.Models.Employee> SignInManager
@inject UserManager<DataLayer.Models.Employee> UserManager
@using Microsoft.AspNetCore.Identity

<table class="table">
    <thead>
        <tr>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th>
                Middle name
            </th>
            <th>
                Phone number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>  @Html.DisplayFor(modelItem => item.Firstname)</td>
                <td>  @Html.DisplayFor(modelItem => item.LastName)</td>
                <td>  @Html.DisplayFor(modelItem => item.MiddleName)</td>
                <td>  @Html.DisplayFor(modelItem => item.PhoneNum)</td>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create</a>
</p>
<center>
    <img class="" src="https://i.pinimg.com/564x/b7/b8/58/b7b85879316062886c12f5a368b0a085.jpg" style="opacity:0.5" />
</center>